@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

body,
:root {
  font-family: "Mulish", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input:focus::placeholder {
  opacity: 0;
}

@theme {
  /* Neutral colors */
  --color-neutrals-white: #ffffff;
  --color-neutrals-100: #f2f5f7;
  --color-neutrals-200: #a8aeb5;
  --color-neutrals-300: #5a6066;
  --color-neutrals-400: #44484c;
  --color-neutrals-500: #2d3033;

  /* Component background */
  --color-component-background: #ffffff;

  /* System background */
  --color-system-background: #f2f5f7;

  /* Uses (Neutrals) */
  --color-uses-200: #a8aeb5;
  --color-uses-300: #5a6066;
  --color-uses-400: #44484c;
  --color-uses-500: #2d3033;

  /* Primary palette */
  --color-primary-50: #ebeff6;
  --color-primary-100: #b1bddb;
  --color-primary-200: #627bb8;
  --color-primary-300: #3b5aa6;
  --color-primary-400: #293f74;
  --color-primary-500: #182442;

  /* Extended palette */
  --color-success-green: #51ff4e;
  --color-warning-yellow: #fff94e;
  --color-error-red: #ff3131;
  --color-extended-purple-default: #a88fef;
  --color-extended-purple-hover: #c0b0f2;
  --color-extended-lightgreen-default: #a7ef8f;
  --color-extended-lightgreen-hover: #c2efb8;
  --color-extended-yellow-default: #eaef8f;
  --color-extended-yellow-hover: #ebefbd;
  --color-extended-pink-default: #ef8fbd;
  --color-extended-pink-hover: #eea7cc;

  /* Extended gradients */
  --color-extended-gradient-disabled: linear-gradient(
    90deg,
    #5be2f7 0%,
    #50dda0 100%
  );
  --color-extended-gradient-default: linear-gradient(
    90deg,
    #5be2f7 0%,
    #50dda0 100%
  );
  --color-extended-gradient-fainted: linear-gradient(
    90deg,
    rgba(168, 143, 239, 0.4) 0%,
    rgba(167, 239, 143, 0.4) 100%
  );

  /* Overlay */
  --color-overlay-40: rgba(168, 161, 161, 0.4);

  /* Typography */
  --font-family-mulish: "Mulish, sans-serif";

  --font-size-xl: 28px;
  --line-height-xl: 37px;
  --font-size-lg: 24px;
  --line-height-lg: 34px;
  --font-size-md: 18px;
  --line-height-md: 27px;
  --font-size-base: 16px;
  --line-height-base: 24px;
  --font-size-sm: 14px;
  --line-height-sm: 22px;
  --font-size-xs: 12px;
  --line-height-xs: 19px;
  --font-size-2xs: 11px;
  --line-height-2xs: 16px;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Spacing */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-8: 2rem; /* 32px */
  --spacing-12: 3rem; /* 48px */
  --spacing-16: 4rem; /* 64px */
  --spacing-gap-2: 0.5rem; /* gap-2 */
  --spacing-gap-4: 1rem; /* gap-4 */
  --spacing-gap-6: 1.5rem; /* gap-6 */
  --spacing-gap-8: 2rem; /* gap-8 */
}

.bg-extended-gradient-default {
  background: var(--color-extended-gradient-default);
}
.bg-extended-gradient-disabled {
  background: var(--color-extended-gradient-disabled);
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-6px, 6px);
  }
  20% {
    transform: translate(-6px, -6px);
  }
  30% {
    transform: translate(6px, 6px);
  }
  40% {
    transform: translate(6px, -6px);
  }
  50% {
    transform: translate(-6px, 6px);
  }
  60% {
    transform: translate(-6px, -6px);
  }
  70% {
    transform: translate(6px, 6px);
  }
  80% {
    transform: translate(6px, -6px);
  }
  90% {
    transform: translate(-6px, 6px);
  }
  100% {
    transform: translate(0);
  }
}
.animate-vibrate {
  animation: vibrate 0.69s linear;
}

@keyframes faint-right {
  0% {
    transform: none;
    opacity: 1;
  }
  60% {
    transform: rotate(90deg) translateX(40px) scale(1);
    opacity: 0.7;
  }
  100% {
    transform: rotate(90deg) translateX(120px) scale(0.7);
    opacity: 0.3;
  }
}
.animate-faint-right {
  animation: faint-right 0.7s forwards;
}

@keyframes pokador-catch-move {
  0% {
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    left: calc(96vw - 600px);
    top: 160px;
    transform: translate(0, 0) scale(0.7);
  }
}
